# Credit Worthness assessment

In [1]:
# import needed libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [3]:
# Load Dataset
data = pd.read_csv("credit worthness dataset.csv")  # Ensure you have the dataset file
data.head()

,Applicant_ID,Age,Income,Credit_Score,Loan_Amount,Employment_Status,Marital_Status,Loan_Status
0,1,25,3000,650,5000,Employed,Single,1
1,2,40,6000,700,10000,Self-Employed,Married,1
2,3,35,4000,580,7000,Employed,Single,0
3,4,29,3200,620,6000,Unemployed,Single,0
4,5,50,7500,720,15000,Self-Employed,Married,1

In [4]:
# Handle Missing Values (if any)
data.fillna(data.mean(numeric_only=True), inplace=True)

#  Encode Categorical Variables
le_emp = LabelEncoder()
le_marital = LabelEncoder()
data["Employment_Status"] = le_emp.fit_transform(data["Employment_Status"])  # 0: Employed, 1: Self-Employed, 2: Unemployed
data["Marital_Status"] = le_marital.fit_transform(data["Marital_Status"])    # 0: Single, 1: Married

In [5]:
#  Select Features & Target Variable
X = data.drop(columns=["Loan_Status"])  # Features
y = data["Loan_Status"]  # Target (1 = Approved, 0 = Rejected)

In [6]:
#  Split Data (80% Training, 20% Testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
#  Standardize Features (for SVM Performance)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
#  Train Support Vector Machine (SVM) Model
svm_model = SVC(kernel="linear", C=1.0, random_state=42)  # Linear Kernel
svm_model.fit(X_train, y_train)

#  Make Predictions
y_pred = svm_model.predict(X_test)

In [9]:
#  Evaluate Model
accuracy = accuracy_score(y_test, y_pred)
print(f" Model Accuracy: {accuracy:.2%}")

print("\n Classification Report:")
print(classification_report(y_test, y_pred))

print("\n Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

 Model Accuracy: 100.00%

 Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00        11

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16


 Confusion Matrix:
[[ 5  0]
 [ 0 11]]