# EMPLOYEE HOPING PREDICTION

In [1]:
#import needed libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

In [3]:
#upload data

In [4]:
df=pd.read_csv('employee hope-data.csv')
df.head()

,Age,Experience,Education,Job_Role,Company_Type,Salary,Marital_Status,Previous_Job_Changes,Will_Hop
0,28,5,Bachelor,Software Engineer,Startup,70000,Single,2,1
1,35,10,Master,Data Scientist,Corporate,120000,Married,1,0
2,42,15,PhD,Project Manager,Corporate,150000,Married,3,0
3,26,3,Bachelor,Software Engineer,Startup,60000,Single,1,1
4,30,7,Master,ML Engineer,Mid-Size,85000,Single,2,1

In [11]:
# Step 2: Preprocess the Data
# Identify categorical columns
categorical_columns = df.select_dtypes(include=["object"]).columns # Select only non-numeric columns
# Apply Label Encoding to categorical columns
df[categorical_columns] = df[categorical_columns].apply(LabelEncoder().fit_transform)

In [13]:
# Handle missing values (fill with mean for numerical, mode for categorical)
for col in df.columns:
    if df[col].dtype == "object":
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

In [7]:
# Define Features (X) and Target (y)
X = df.drop(columns=["Will_Hop"])  # All columns except target
y = df["Will_Hop"]  # Target variable (0 = Stay, 1 = Hop)

In [8]:
# Step 3: Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Train Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [9]:
# Step 5: Predictions
y_pred = rf_model.predict(X_test)

# Step 6: Evaluate Model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00        10

    accuracy                           1.00        14
   macro avg       1.00      1.00      1.00        14
weighted avg       1.00      1.00      1.00        14