# FRAUD DETECTION IN BANKING

In [1]:
#import the needed libraries

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [15]:
#load data
df=pd.read_csv('fraud detection.csv')
df.head()

,Transaction_ID,Amount,Transaction_Type,Account_Balance,Customer_Age,Transaction_Location,Card_Type,Is_Fraudulent
0,T1,500,Online,10000,35,New York,Debit,0
1,T2,2000,POS,25000,42,California,Credit,0
2,T3,7500,Online,5000,29,Texas,Debit,1
3,T4,1200,POS,15000,37,Florida,Credit,0
4,T5,50,ATM,8000,25,Chicago,Debit,0

In [16]:
# Step 2: Handle Missing Values
df.fillna(df.mean(numeric_only=True), inplace=True)  # Fill numeric missing values with mean
df.fillna(df.mode().iloc[0], inplace=True)  # Fill categorical missing values with mode

# Step 3: Convert Categorical Columns to Numerical using One-Hot Encoding
df = pd.get_dummies(df, drop_first=True)

# Step 4: Remove Transaction_ID Columns (Fix KeyError)
df = df.drop(columns=[col for col in df.columns if "Transaction_ID" in col], errors="ignore")

In [17]:
# Step 5: Define Features and Target
X = df.drop(columns=["Is_Fraudulent"], errors="ignore")  # Independent variables
y = df["Is_Fraudulent"]  # Target variable (0: Legit, 1: Fraud)

# Step 6: Split Data into Train and Test Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
# Step 7: Train Random Forest Model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Step 8: Make Predictions
y_pred = model.predict(X_test)

In [19]:
# Step 9: Evaluate Model Performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       1.00      1.00      1.00         7

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20