# PROMOTION ELIGIBILITY PREDICTION

In [1]:
#IMPORT NEEDED LIBRARIES

In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

In [10]:
#load data
df=pd.read_csv('promotion eligibility.csv')
df.head()

,Employee_ID,Age,Department,Job_Role,Experience_Years,Performance_Score,Training_Hours,Previous_Promotions,Salary,Eligible_for_Promotion
0,E101,35,Sales,Sales_Manager,10,4.2,30,1,60000,1
1,E102,29,HR,HR_Executive,6,3.8,25,0,45000,0
2,E103,40,IT,Software_Engineer,15,4.7,40,2,85000,1
3,E104,33,Finance,Financial_Analyst,8,3.5,20,0,70000,0
4,E105,45,Sales,Regional_Sales_Head,18,4.9,50,3,120000,1

In [16]:
df.rename(columns=lambda x: x.strip(), inplace=True)
print("Updated columns:", df.columns.tolist())  # Check again

Updated columns: ['Employee_ID', 'Age', 'Department', 'Job_Role', 'Experience_Years', 'Performance_Score', 'Training_Hours', 'Previous_Promotions', 'Salary', 'Eligible_for_Promotion']

In [17]:
# Step 2: Preprocess the Data
# Identify categorical columns
categorical_columns = df.select_dtypes(include=["object"]).columns # Select only non-numeric columns
# Apply Label Encoding to categorical columns
df[categorical_columns] = df[categorical_columns].apply(LabelEncoder().fit_transform)

In [18]:
# Handle missing values (fill with mean for numerical, mode for categorical)
for col in df.columns:
    if df[col].dtype == "object":
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

In [20]:

X = df.drop(columns=["Employee_ID", "Eligible_for_Promotion"])  # Features
y = df["Eligible_for_Promotion"]  # Target

# Step 5: Split Data into Training and Testing Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
# Train Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Model Accuracy:", accuracy)

Model Accuracy: 1.0

In [22]:
print("Classification Report:\n", classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      1.00      1.00         4

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6